/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    

}

section{
    padding: 100px 0;
}

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    padding: 15px 20px;
    background: #000000;
  }
 

.navbar .tamanhou{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.tamanhou{
    max-width: 1300px;
    padding: 0px;
    margin: auto;
    max-width: 1300px;
    padding-right: 84px;
  
}
 
.navbar .logo a{
    color: #f7de06;
    font-size: 30px;
    font-weight: 600;
padding-left: 83px;
  }
.navbar .logo a span{
    color: #a19490;
    transition: all 0.3s ease;
  }
  .navbar.sticky .logo a span{
    color: #fff;
  }
  .navbar .menu li{
    list-style: none;
    display: inline-block;
  }
  .navbar .menu li a{
    display: block;
    color: #faea0b;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }
  .navbar .menu li a:hover{
    color: #13fa0b;
  }
  
  /* menu btn styling */
  .menu-btn{
    color: #e3dbdb;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  
  .menu-cart{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  
  .scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #f4f80e;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


.oferta h1{
    font-size: 43px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    padding-bottom: 30px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    color: #f9f2f2;
}
.oferta p {
    padding-top: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    text-align: center;
    color: #fffcfc;
}
.botão {
    border-radius: 10px;
    padding-left: 50px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
}

.segundo{
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 10px;
    padding-left: 10px;
    background: rgb(177, 132, 214);
    border-color: #000000;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #0f5ef1 50%, transparent 50%);
    background-image: linear-gradient(45deg, #06beec 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    font-size: 15px;
    
}
.segundo:hover{
    cursor: pointer;
    color: #000000;
    background: rgb(88, 88, 221);
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-position: 0;
}
.termos{
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
}
 h6{
    text-align: center;
    padding-bottom: 10px;
}

.porque{
    background: #f2f5f7;
}
.porque h1{
    color: #000;
    text-align: center;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: auto;
    padding-top: 25px;
}
aside{
    text-align: center;
    padding-top: 30px;

}
.list{
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 20px;
  width:70%;
  max-width: 800px;
  padding-bottom: 50px;

}
.lista1 {
    font-size: 15px;
    position: relative;
    width: 160px;
    height: 220px;
    background: rgba(71, 20, 71, 0.452);
    border-radius: 20px;
    overflow:hidden;
    color: #000000;
    
}

img {padding-top: 15px;
    width:100%;
    height:100%;
    max-width: 150px;
    max-height: 90px;
    border-radius: 29%;
}

.container{
    width:1100px;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.container .card{
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient( 135deg,
   #ee20d6 0%,
   #0a2fb6 100%);
   border-radius: 15px;
   box-shadow: 2px 5px 15px black;
   transition: transform 0.3s;
}
 .container .card:hover{
transform: scale(1.050);
 }
.container .card .card-title{
    padding: 30px 20px;
    border-bottom: 2px solid rgb(244, 222, 222);

}
.container .card .card-title h2 {
    font-size: 35px;
    padding-bottom: 15px;
    color: yellow;

}
.container .card .card-title p span {
    font-size: 40px;
    padding: 0 5px;

}
.container .card .card-content ul{
    padding: 10px 30px;
    padding-bottom: 20px;

}
.container .card .card-content ul li {
    list-style: none;
    padding: 10px 0;
}
.container .card .card-content ul li i {
    margin-right: 4px;
    

}
.container .card .card-content button {
    width: 120px;
    padding: 10px 20px;
    background: rgb(10, 10, 10);
    color: #000000;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}
.container .card .card-content button:hover{
    background: #0d17a7;
    letter-spacing: 1.2px;
}

.planos{
    background: linear-gradient( 135deg,
   #ad20ee 0%,
   #4d2ebe 100%);
}
.escolha{
    text-align: center;
    
}
.escolha h2{
    color:#000;
    padding-top: 20px;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
.escolha p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
.container .card .card-content button a {
    text-decoration: none;
    color: #fffbfb;
    font-size: 20px;
}

section {
    

    background: linear-gradient( 217deg,
    rgb(143, 7, 197),
    rgb(131, 6, 180),
    rgb(125, 13, 170),
    rgb(109, 10, 148),
    rgb(143, 7, 130),
    rgb(143, 7, 120)
                          );


}

@media (max-width: 768px) {
    .menu-btn {
    display: block;
    }
    .menu {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 55px;
    left: 0;
    background: #000000;
    overflow-y: scroll;
    padding-top: 20px;
    transition: all 0.3s ease;
    }
    .menu.active {
    display: block;
    }
   .navbar .menu li {
    display: block;
    text-align: center;
    margin: 10px 0;
    }
    .menu li a {
        display: inline-block;
        margin: 20px 50px;
        font-size: 25px;
    }
    .navbar .logo a {
    display: none;
    }
    .menu-cart {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        }
        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }
        
          .lista1 {
            width: 80%;
            height: auto;
            margin-bottom: 20px;
          }
          img {
            max-width: 90px;
            max-height: 60px;
          }
          .container{
            width:344px;
            height: 50%;
            margin:auto;
            display: flex;
            flex-direction: column; /* adicionado para tornar responsivo */
            align-items: center;
            justify-content: space-around;
            color: #fff;
        }
        .navbar .menu-cart i{
            text-decoration: none;
            color: #ffffff;
            font-size: 23px;
            cursor: pointer;
        }
        .navbar .menu-cart span{
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            background: #dc1515;
            padding: 0px 6px 0px 5px;
            border-radius: 5px;
            margin: 0px 0px 0px 5px;
            position: relative;
            top: -10px;
            z-index: -1;
            cursor: pointer;
        }
        .container .card{
            width: 300px;
            height: 700px;
            padding: 10px 0;
            text-align: center;
            background: linear-gradient( 135deg,
           #ee20d6 0%,
           #0a2fb6 100%);
           border-radius: 15px;
           box-shadow: 2px 5px 15px black;
           transition: transform 0.3s;
        }
    
        
        .container .card:hover{
            transform: scale(1.050);
        }
        
        .container .card .card-title{
            padding: 30px 20px;
            border-bottom: 2px solid rgb(244, 222, 222);
        }
        
        .container .card .card-title h2 {
            font-size: 35px;
            padding-bottom: 15px;
            color: yellow;
        }
        
        .container .card .card-title p span {
            font-size: 40px;
            padding: 0 5px;
        }
        
        .container .card .card-content ul{
            padding: 10px 30px;
        }
        .container .card .card-content button {
            width: 120px;
            padding: 10px 20px;
            background: rgb(10, 10, 10);
            color: #000000;
            border-radius: 20px;
            margin-bottom: 300px;
            outline: none;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
    }